# Ignore node_modules as they are already installed inside the Docker container
**/node_modules

# Ignore log files
**/*.log

# Ignore package-lock.json or yarn.lock if not necessary
**/package-lock.json
**/yarn.lock

# Ignore the build output directories
**/dist
**/build

# Ignore editor and OS-specific files
.vscode/
.DS_Store
Thumbs.db

# Ignore Dockerfile itself or any Docker-related files if you don’t want them in the image
**/Dockerfile
**/.dockerignore
